# Data Cleaning - Financial News Sentiment - NLP application

Data Cleaning process

## Data Cleaning (CNBC)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("./data/cnbc_headlines.csv")
df1 = df1.dropna()
df1 = df1.drop_duplicates(subset=['Headlines', 'Description'], keep='first')
df1.reset_index(drop=True, inplace=True)
df1

,Headlines,Time,Description
0,Jim Cramer: A better way to invest in the Covi...,"7:51 PM ET Fri, 17 July 2020","""Mad Money"" host Jim Cramer recommended buying..."
1,Cramer's lightning round: I would own Teradyne,"7:33 PM ET Fri, 17 July 2020","""Mad Money"" host Jim Cramer rings the lightnin..."
2,"Cramer's week ahead: Big week for earnings, ev...","7:25 PM ET Fri, 17 July 2020","""We'll pay more for the earnings of the non-Co..."
3,IQ Capital CEO Keith Bliss says tech and healt...,"4:24 PM ET Fri, 17 July 2020","Keith Bliss, IQ Capital CEO, joins ""Closing Be..."
4,Wall Street delivered the 'kind of pullback I'...,"7:36 PM ET Thu, 16 July 2020","""Look for the stocks of high-quality companies..."
...,...,...,...
2785,Markets lack Christmas cheer,"10:15 AM ET Tue, 26 Dec 2017","According to Kensho, here's how markets have f..."
2786,Cramer Remix: The biggest mistake you can make...,"11:12 AM ET Thu, 20 Sept 2018",Jim Cramer revealed his top rule when it comes...
2787,Cramer says owning too many stocks and too lit...,"7:07 PM ET Fri, 22 Dec 2017",Jim Cramer broke down why owning fewer stocks ...
2788,Cramer: I helped investors through the 2010 fl...,"7:07 PM ET Fri, 22 Dec 2017","Jim Cramer built on his ""nobody ever made a di..."
2789,Cramer: Never buy a stock all at once — you'll...,"6:52 PM ET Fri, 22 Dec 2017",Jim Cramer doubled down on his key investing r...

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2790 entries, 0 to 2789
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Headlines    2790 non-null   object
 1   Time         2790 non-null   object
 2   Description  2790 non-null   object
dtypes: object(3)
memory usage: 65.5+ KB

### Unusual datetime naming convention

The abbreviation for September is Sep, not Sept as listed in this data set. At the same time, while many rows use the standard abbreviation form of the month (Sept), others use a different abbreviation, sometimes even the full name of the month (March, April, June, July). Therefore, the function below aims to replace all unusual abbreviations from the datetime. This function also aim to replace leading space " " with a "0" (padding a character "0") before any representation of posted hour (and posted date) that is smaller than 10 (0, 1, ..., 9).

In [4]:
def replace_dt(s):
    s = s.replace("Sept", "Sep").replace("March", "Mar").replace("April", "Apr").replace("June", "Jun").replace("July", "Jul")
    if s[0].isspace():
        s = s.replace(" ", "0", 1)
    s = s.replace(",  ", ", 0", 1)
    return s

In [5]:
from datetime import datetime
f = '%I:%M  %p ET %a, %d %b %Y'
dates = []
times = []
for item in df1.iloc[:, 1].values:
    item = replace_dt(item)
    dates.append(datetime.strptime(item, f).strftime("%m-%d-%Y"))
    times.append(datetime.strptime(item, f).strftime("%H:%M:%S"))

In [6]:
df1['Date'] = dates
df1["Date"] = df1["Date"].astype("datetime64")
df1['Time'] = times
df1 = df1[["Date", "Time", "Headlines", "Description"]]
df1

,Date,Time,Headlines,Description
0,2020-07-17,19:51:00,Jim Cramer: A better way to invest in the Covi...,"""Mad Money"" host Jim Cramer recommended buying..."
1,2020-07-17,19:33:00,Cramer's lightning round: I would own Teradyne,"""Mad Money"" host Jim Cramer rings the lightnin..."
2,2020-07-17,19:25:00,"Cramer's week ahead: Big week for earnings, ev...","""We'll pay more for the earnings of the non-Co..."
3,2020-07-17,16:24:00,IQ Capital CEO Keith Bliss says tech and healt...,"Keith Bliss, IQ Capital CEO, joins ""Closing Be..."
4,2020-07-16,19:36:00,Wall Street delivered the 'kind of pullback I'...,"""Look for the stocks of high-quality companies..."
...,...,...,...,...
2785,2017-12-26,10:15:00,Markets lack Christmas cheer,"According to Kensho, here's how markets have f..."
2786,2018-09-20,11:12:00,Cramer Remix: The biggest mistake you can make...,Jim Cramer revealed his top rule when it comes...
2787,2017-12-22,19:07:00,Cramer says owning too many stocks and too lit...,Jim Cramer broke down why owning fewer stocks ...
2788,2017-12-22,19:07:00,Cramer: I helped investors through the 2010 fl...,"Jim Cramer built on his ""nobody ever made a di..."
2789,2017-12-22,18:52:00,Cramer: Never buy a stock all at once — you'll...,Jim Cramer doubled down on his key investing r...

In [7]:
# Storing data for later use (EDA, NLP, ANN and RNN)
%store df1

Stored 'df1' (DataFrame)

# Data Cleaning (Reuters)

In [8]:
df2 = pd.read_csv("./data/reuters_headlines.csv")
df2 = df2.dropna()
df2 = df2.drop_duplicates(subset=['Headlines', 'Description'], keep='first')
df2.reset_index(drop=True, inplace=True)
df2

,Headlines,Time,Description
0,TikTok considers London and other locations fo...,Jul 18 2020,TikTok has been in discussions with the UK gov...
1,Disney cuts ad spending on Facebook amid growi...,Jul 18 2020,Walt Disney has become the latest company to ...
2,Trail of missing Wirecard executive leads to B...,Jul 18 2020,Former Wirecard chief operating officer Jan M...
3,Twitter says attackers downloaded data from up...,Jul 18 2020,Twitter Inc said on Saturday that hackers were...
4,U.S. Republicans seek liability protections as...,Jul 17 2020,A battle in the U.S. Congress over a new coron...
...,...,...,...
32691,Malaysia says never hired British data firm at...,Mar 20 2018,The Malaysian government and the ruling party ...
32692,Prosecutors search Volkswagen headquarters in ...,Mar 20 2018,German prosecutors said on Tuesday they had se...
32693,McDonald's sets greenhouse gas reduction targets,Mar 20 2018,McDonald's Corp on Tuesday announced an approv...
32694,Pratt & Whitney to deliver spare A320neo engin...,Mar 20 2018,Pratt & Whitney will soon begin deliveries of ...
32695,UK will always consider ways to improve data l...,Mar 20 2018,Britain will consider any suggestions to give ...

In [9]:
df2["Time"] = df2["Time"].astype("datetime64")
df2 = df2[["Time", "Headlines", "Description"]]
df2.rename(columns={"Time":"Date"}, inplace = True)
df2

,Date,Headlines,Description
0,2020-07-18,TikTok considers London and other locations fo...,TikTok has been in discussions with the UK gov...
1,2020-07-18,Disney cuts ad spending on Facebook amid growi...,Walt Disney has become the latest company to ...
2,2020-07-18,Trail of missing Wirecard executive leads to B...,Former Wirecard chief operating officer Jan M...
3,2020-07-18,Twitter says attackers downloaded data from up...,Twitter Inc said on Saturday that hackers were...
4,2020-07-17,U.S. Republicans seek liability protections as...,A battle in the U.S. Congress over a new coron...
...,...,...,...
32691,2018-03-20,Malaysia says never hired British data firm at...,The Malaysian government and the ruling party ...
32692,2018-03-20,Prosecutors search Volkswagen headquarters in ...,German prosecutors said on Tuesday they had se...
32693,2018-03-20,McDonald's sets greenhouse gas reduction targets,McDonald's Corp on Tuesday announced an approv...
32694,2018-03-20,Pratt & Whitney to deliver spare A320neo engin...,Pratt & Whitney will soon begin deliveries of ...
32695,2018-03-20,UK will always consider ways to improve data l...,Britain will consider any suggestions to give ...

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32696 entries, 0 to 32695
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         32696 non-null  datetime64[ns]
 1   Headlines    32696 non-null  object
 2   Description  32696 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 766.4+ KB

In [11]:
# Storing data
%store df2

Stored 'df2' (DataFrame)

# Data Cleaning (the Guardian)

In [12]:
df3 = pd.read_csv("./data/guardian_headlines.csv")
df3 = df3.dropna()
df3 = df3.drop_duplicates(subset=['Headlines'], keep='first')
df3.reset_index(drop=True, inplace=True)
df3

                   Time                                          Headlines
0          19 July 2020  Business leader  \n\n\n  Vestager has tasted d...
1          19 July 2020  Observer business agenda  \n\n\n  Centrica: se...
2          19 July 2020  Hidden gems from the world of research  \n\n\n...
3          19 July 2020   Johnson is asking Santa for a Christmas recovery
4          19 July 2020  ‘I now fear the worst’: four grim tales of wor...
...                 ...                                                ...
17789  17 December 2017  Uber stole trade secrets, bribed foreign offic...
17790  17 December 2017  Hundreds to lose jobs as Britvic shuts down No...
17791  17 December 2017  How investing in solar energy can create a bri...
17792  17 December 2017     Poundland suppliers hit by insurance downgrade
17793  17 December 2017  Cryptocurrencies: City watchdog to investigate...

[17794 rows x 2 columns]

In [13]:
df3["Time"] = df3["Time"].astype("datetime64")
df3.rename(columns={"Time":"Date"}, inplace = True)
df3

            Date                                          Headlines
0     2020-07-19  Business leader  \n\n\n  Vestager has tasted d...
1     2020-07-19  Observer business agenda  \n\n\n  Centrica: se...
2     2020-07-19  Hidden gems from the world of research  \n\n\n...
3     2020-07-19   Johnson is asking Santa for a Christmas recovery
4     2020-07-19  ‘I now fear the worst’: four grim tales of wor...
...          ...                                                ...
17789 2017-12-17  Uber stole trade secrets, bribed foreign offic...
17790 2017-12-17  Hundreds to lose jobs as Britvic shuts down No...
17791 2017-12-17  How investing in solar energy can create a bri...
17792 2017-12-17     Poundland suppliers hit by insurance downgrade
17793 2017-12-17  Cryptocurrencies: City watchdog to investigate...

[17794 rows x 2 columns]

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17794 entries, 0 to 17793
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       17794 non-null  datetime64[ns]
 1   Headlines  17794 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 278.2+ KB

In [15]:
# Storing data
%store df3

Stored 'df3' (DataFrame)